section{
    width: 1000px;
    height: 800px;
    border: 5px solid black;
    margin: 2px;
    background-color: rgb(252, 127, 25);
}
article{
    width:80px;
    height:40px;
    background-color: rgb(173, 27, 231);
    margin: 2px;
    float:left
}
#photo{
    background-image: url(img/antman.jpg);
    width: 100px;
    height: 100px;

}